# dependencies
node_modules/
# logs
/logs
*.log
# run
/run
# config.local.ts
/config/config.local.ts
/config/config.loc.ts

typings/app/*
typings/config/*
typings/typeorm.d.ts

tsconfig.tsbuildinfo
!/app/service/
